.text-card-type {
    font-weight: 400;
    font-size: 14px;
}

.text-card-price {
    font-weight: 700;
    font-size: 16px;
}

.text-card-key {
    font-size: 14px;
    font-weight: 400;
}

.desc-delete {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}